@media (max-width:1209px) {
    .container {
        flex-wrap: wrap;
    }
}


@media (max-width:1203px) {
    nav {
        display: none;
    }
    .fa-bars {
        display: inline-block;
    }
}

@media (max-width:648px) {
    .book {
        background-size: cover;
        background-position:center;
        width: 450px;
        height: 550px;
    }

    .book2 {
        background-size: cover;
        background-position:center;
        width: 450px;
        height: 550px;
    }
    
    .temuri {
        background-size: cover;
        background-position:center;
        width: 450px;
        height: 550px;
    }
}

@media (max-width:675px) {
    .h1 {
        font-size: 60px;
    }
       
}

@media (max-width:622px) {
    .h1 {
        font-size: 55px;
    }
}

@media (max-width:569px) {
    .h1 {
        font-size: 50px;
    }
}

@media (max-width:473px) {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 400px;
        height: 550px;
    }

    .temuri {
        background-size: cover;
        background-position:center;
        width: 350px;
        height: 450px;
    }
}

@media (max-width:449px) {
    .sec4div1 img {
        background-size: cover;
        width: 175px;
        height: 75px;
        margin-top: 30px;
    }
    
}

@media (max-width:516px) {
    .h1 {
        font-size: 40px;
    }

}

@media (max-width:442px) {
    .sec1div2 {
        flex-wrap: wrap;
    }

    .book2 {
        background-size: cover;
        background-position:center;
        width: 350px;
        height: 500px;
    }

    .square2 {
        width: 220px;
        height: 65px;
        display: flex;
        padding: 0px 10px 42px 14px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #ffca42;
    }
    
    .h62 {
        color: #1b3764;
        font-family: 'Noto Sans Georgian', sans-serif;
    } 

    .h62:hover {
        color:#5d4915;
    }
}

@media (max-width:412px) {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 370px;
        height: 430px;
    }
   
    .temuri {
        background-size: cover;
        background-position:center;
        width: 370px;
        height: 370px;
    }
}

@media (max-width:385px) {
    .temuri {
        width: 320px;
        height: 350px;
    }

}

@media (max-width:388px) {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 330px;
        height: 400px;
    }

}

@media (max-width:378px) {
    .book {
        background-size: cover;
        background-position:center;
        width: 400px;
        height: 500px;
    }
    .book2 {
        background-size: cover;
        background-position:center;
        width: 320px;
        height: 390px;
    }
   
    .temuri {
        background-size: cover;
        background-position:center;
        width: 310px;
        height: 350px;
    }
}

@media (max-width:409px) {
    .h1 {
        font-size: 35px;
    }
}


@media (max-width:357px) {
    .h1 {
        font-size: 33px;
    }
}

@media (max-width:335px) {
    .h1 {
        font-size: 30px;
    }
}

@media (max-width:303px) {
    .h1 {
        font-size: 28px;
    }
}


@media (max-width:282px) {
    .h1 {
        font-size: 25px;
    }
}

@media (max-width:347px) {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 300px;
        height: 400px;
    }
   
    .temuri {
        background-size: cover;
        background-position:center;
        width: 300px;
        height: 350px;
    }
}

@media (max-width:339px) {
    .book {
        background-size: cover;
        background-position:center;
        width: 330px;
        height: 450px;
    }
}


@media (max-width:317px)  {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 270px;
        height: 390px;
    }
   
    .temuri {
        background-size: cover;
        background-position:center;
        width: 280px;
        height: 350px;
    }
}


@media (max-width:307px) {
    .container5 h2 {
        font-size: 39px;
    }
}



@media (max-width:305px) {
    
    .book {
        background-size: cover;
        background-position:center;
        width: 310px;
        height: 400px;
    }
}

@media (max-width:296px) {
    .temuri {
        background-size: cover;
        background-position:center;
        width: 260px;
        height: 330px;
    }
}

@media (max-width:345px) {
    .footerdiv4 h4 {
        font-size: 14px;
    }

    .footerdiv4 span {
        font-size:x-small;
    }
}

@media (max-width:284px) {
    .gg {
        width: 240px;
        height: 390px;
    }
    
    .sec5div2 h4 {
        font-size: 19px;
        font-weight: 600;
    }
    
}

@media (max-width:268px) {
    .gg {
        width: 230px;
        height: 385px;
    }
}    

@media (max-width:287px) {
    .book2 {
        width: 250px;
        height: 380px;
    }
}

@media (max-width:256px) {
    .gg {
        width: 225px;
        height: 374px;
    }
}


@media (max-width:260px) {
    .container5 h2 {
        font-size: 40px;
        font-weight: 700;
    }
}



@media (max-width:273px) {
    .temuri {
        background-size: cover;
        background-position:center;
        width: 235px;
        height: 290px;
    }

    .book {
        width: 290px;
        height: 390px;
    }

    .book2 {
        width: 240px;
        height: 370px;
    }
}


@media (max-width:256px) {
    .book{
        width: 280px;
        height: 380px;
    }

    .book2{
        width: 230px;
        height: 365px;
    }
}
