@media (max-width:1075px) {
    nav {
        display: none;
    }
    .fa-bars {
        display: inline-block;
    }
}

@media (max-width:648px) {
    .book {
        background-size: cover;
        background-position:center;
        width: 450px;
        height: 550px;
    }

    .book2 {
        background-size: cover;
        background-position:center;
        width: 450px;
        height: 550px;
    }
    
    .temuri {
        background-size: cover;
        background-position:center;
        width: 450px;
        height: 550px;
    }
}

@media (max-width:1110px) {
    .container {
        flex-wrap: wrap;
    }
}

@media (max-width:577px) {
    .h1 {
        font-size: 60px;
    }
       
}

@media (max-width:534px) {
    .h1 {
        font-size: 55px;
    }
}

@media (max-width:487px) {
    .h1 {
        font-size: 50px;
    }
}

@media (max-width:473px) {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 400px;
        height: 550px;
    }

    .temuri {
        background-size: cover;
        background-position:center;
        width: 350px;
        height: 450px;
    }
}

@media (max-width:449px) {
    .sec4div1 img {
        background-size: cover;
        width: 175px;
        height: 75px;
        margin-top: 30px;
    }
    
}

@media (max-width:442px) {
    .sec1div2 {
        flex-wrap: wrap;
    }

    .book2 {
        background-size: cover;
        background-position:center;
        width: 350px;
        height: 500px;
    }

    .h1 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 71.5px */
        letter-spacing: -1.3px;
        margin-bottom: 32px;
    }

    .square2 {
        width: 220px;
        height: 65px;
        display: flex;
        padding: 0px 10px 42px 14px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #ffca42;
    }
    
    .h62 {
         color: #1b3764;
        text-align: center;
        font-family: Cardo;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 23.75px */
        letter-spacing: 0.38px;
        align-items: center;
    } 
}

@media (max-width:412px) {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 370px;
        height: 430px;
    }
   
    .temuri {
        background-size: cover;
        background-position:center;
        width: 370px;
        height: 370px;
    }
}

@media (max-width:385px) {
    .temuri {
        width: 320px;
        height: 350px;
    }

}

@media (max-width:385px) {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 330px;
        height: 400px;
    }

}

@media (max-width:378px) {
    .book {
        background-size: cover;
        background-position:center;
        width: 400px;
        height: 500px;
    }
    .book2 {
        background-size: cover;
        background-position:center;
        width: 320px;
        height: 390px;
    }
   
    .temuri {
        background-size: cover;
        background-position:center;
        width: 310px;
        height: 350px;
    }
}

@media (max-width:365px) {
    .h1 {
        font-size: 40px;
    }
}


@media (max-width:350px) {
    .h1 {
        font-size: 35px;
    }
}


@media (max-width:347px) {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 300px;
        height: 400px;
    }
   
    .temuri {
        background-size: cover;
        background-position:center;
        width: 300px;
        height: 350px;
    }
}

@media (max-width:339px) {
    .book {
        background-size: cover;
        background-position:center;
        width: 330px;
        height: 450px;
    }
}


@media (max-width:317px)  {
    .book2 {
        background-size: cover;
        background-position:center;
        width: 270px;
        height: 390px;
    }
   
    .temuri {
        background-size: cover;
        background-position:center;
        width: 280px;
        height: 350px;
    }
}


@media (max-width:305px) {
    .h1 {
        font-size: 30px;
    }
    
    .book {
        background-size: cover;
        background-position:center;
        width: 310px;
        height: 400px;
    }
}

@media (max-width:296px) {
    .temuri {
        background-size: cover;
        background-position:center;
        width: 260px;
        height: 330px;
    }
}

@media (max-width:285px) {
    .book2 {
        width: 250px;
        height: 380px;
    }
}

@media (max-width:273px) {
    .temuri {
        background-size: cover;
        background-position:center;
        width: 250px;
        height: 320px;
    }

    .gg {
        width: 240px;
        height: 380px;
    }
}


@media (max-width:273px) {
    .temuri {
        background-size: cover;
        background-position:center;
        width: 235px;
        height: 290px;
    }

    .book {
        width: 290px;
        height: 390px;
    }

    .book2 {
        width: 240px;
        height: 370px;
    }
}

@media (max-width:258px) {
    .h1 {
        font-size: 25px;
    }
}

@media (max-width:256px) {
    .book{
        width: 280px;
        height: 380px;
    }

    .book2{
        width: 230px;
        height: 365px;
    }
}
