html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b3764;
}

.fa-bars {
    display: none;
}

.container1 {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


ul {
    display: flex;
    flex-direction: row;
}

li a {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 21.25px */
    letter-spacing: -0.17px;
    margin-left: 30px;
}

li a:hover {
    color: #ffca42;
}

.log {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-left: 1px;
}

/*section 1*/

.sec-1 {
    background-color: #1b3764;
    padding: 100px 0;
}

.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.sec1div {
    padding-top: 145px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.h5 {
    color: #fff;
    font-family: Cardo;
    font-size: 19px;
    font-style: italic;
    font-weight: 200;
    line-height: 154.5%; /* 37.08px */
    letter-spacing: -0.48px;
    margin-bottom: 16px;
}

.h1 {
    color: #fff;
    font-family: Cardo;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 71.5px */
    letter-spacing: -1.3px;
    margin-bottom: 32px;
}

.h6 {
    color: #b4c7e7;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.19px;
}

.square {
    width: 220px;
    height: 65px;
    display: flex;
    padding: 20px 53px 21px 53px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #ffca42;
    margin-top: 49px;
}

.h61 {
    color: #1b3764;
    text-align: center;
    font-family: Cardo;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 23.75px */
    letter-spacing: 0.38px;
    align-items: center;
}

.h61:hover {
    color: #5d4915;
}

.h62 {
    color: #fff;
    text-align: center;
    font-family: Cardo;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 23.75px */
    letter-spacing: 0.38px;
    padding-top: 47px;
    align-items: center;
} 

.h62:hover {
    color: #ffca42;
}

.sec1div2 {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrapW;
    gap: 37px;
}

.book {
    padding-top: 70px;
}

.textdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 49px;
}

.textdiv h4 {
    color: #fff;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.24px;
    padding-bottom: 30px;
}

h4 span {
    color: #b4c7e7;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
    letter-spacing: -0.18px;
}


/*section 2*/

.sec-2 {
    background-color: #f4f8ff;
    padding: 100px 0;
}

.sec2div1 {
    max-width: 600px;
    width: 100%;
    padding-top: 40px;
}

.sec2div1 img {
    background-size: cover;
    background-position:center;
}

.sec2div1 p {
    color: #787c84;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.7px;
    padding-top: 22px;
}

.sec2div1 h2 {
    color: #1b3764;
    font-family: Cardo;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
}

/*section 3*/

.sec-3 {
    background-color: #ffca42;
    padding: 100px 0;
}

.container3 {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec3div1 {
    padding-top: 40px;
    max-width: 600px;
    width: 100%;
}

.sec3div1 h2 {
    color: #1b3764;
    text-align: center;
    font-family: Cardo;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
    padding-bottom: 15px;
}

.sec3div1 p {
    color: #5d4915;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.19px;
}

.sec3div1 img {
    background-size: cover;
    background-position:center;
}

.p2 {
    margin-top: 30px;
}


/*section 4*/

.sec-4 {
    background-color:#f4f8ff;
    padding: 100px 0;
}

.sec4div1 h2 {
    color: #1b3764;
    text-align: center;
    font-family: Cardo;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
}

.sec4div1 p {
    color:#454d5e;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.19px;
    margin-top: 15px;
    
}

.sec4div1 h4 {
    color: #0f2444;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.19px;
    margin-top: 45px;
}
/*section 5*/

.sec-5 {
     background-color: #1b3764;
     padding: 100px 0;
}

.container4 {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.container4 h5 {
    color:#f4f8ff;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
    margin-bottom: 60px;
}


.container4 h2 {
    color: #ffca42;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
    margin-bottom: 60px;
    align-items: center;
}

.sec5div2 h4 {
    color: #fff;
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.24px;
    padding-bottom: 25px;
}


.sec5div2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec5div1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.gg {
    width: 257px;
    height: 395px;
}

.wigni {
    margin-top: 30px;
}

.myformdiv {
    margin-top: 2px;
}

.textareadiv {
    height: 300px;
    max-width: 756;
    width: 100%;
    margin-right: 20px;
}

.mytextarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: 2px solid rgba(212, 211, 211, 0.3);
    background: #f8f8f8;
    outline: none;
    padding: 23px 21px;
    font-size: 14px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h55 {
    color:#5d4915;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
    margin-top: 60px;
}
/*footer*/

