header {
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B3764; 
}

.container1 {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
}

li a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 21.25px */
    letter-spacing: -0.17px;
    margin-left: 30px; 
}

.log {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 1px;
}

.sec-1 {
    background-color: #1B3764 ;
    margin-top: 76px;
    height: 1024px;
}

.sec1div {
    width: 614px;
    height: 464px;
    padding-top: 145px;
}

.h5 {
    color:#FFF;
    font-family: Cardo;
    font-size: 19px;
    font-style: italic;
    font-weight: 200;
    line-height: 154.5%; /* 37.08px */
    letter-spacing: -0.48px;
    margin-bottom: 16px;
}

.h1 {
    color: #FFF;
    font-family: Cardo;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 71.5px */
    letter-spacing: -1.3px;
    margin-bottom: 32px;
}

.h6 {
    color: #B4C7E7;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.19px;
}

.square {
    width: 220px;
    height: 65px;
    display: flex;
    padding: 20px 53px 21px 53px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FFCA42;
    margin-top: 49px;
}

.h61 {
    color: #1B3764;
    text-align: center;
    font-family: Cardo;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 23.75px */
    letter-spacing: 0.38px;
    align-items: center;
}

.h62 {
    color: #FFF;
    text-align: center;
    font-family: Cardo;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 23.75px */
    letter-spacing: 0.38px;
    padding-top: 47px;
    align-items: center;
    
}

.sec1div2 {
    display: flex;
    width: 414px;
    align-items: center;
    gap: 37px;
}

.book {
    padding-top: 70px;
}

.textdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 49px;
}

.textdiv h4 {
    color: #FFF;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.24px;
    padding-bottom: 30px;
}

h4 span {
    color: #B4C7E7;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
    letter-spacing: -0.18px;
}

.sec-2 {
    background-color: #F4F8FF;
    height: 650px;
}

.sec2div1 {
    padding-top: 40px;
}
.sec2div1 h6 {
    width: 567px;
    height: 128px;
    color: #969AA0;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.7px;
    padding-top: 22px;
    
}

.sec2div1 h2 {
    color: #1B3764;
    font-family: Cardo;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
}

.sec-3 {
    background-color: #FFCA42;
    height: 900px;
}

.sec3div1 {
    padding-top: 40px;
}
.sec3div1 h2 {
    color: #1B3764;
    text-align: center;
    font-family: Cardo;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
    padding-bottom: 15px;
}

.sec3div1 h6 {
    color:#5d4915;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.19px;
    
}